extend ./layout.pug

block content
  main.container
    for albums in arr
        h2
          a(href= '/' + albums.name) #{albums.name}
  div.one-third.column
     form(
      action= '/'
      method= 'post'
      )
        input(
        type= 'text'
        name= 'album[name]'
        )
        button(type= 'submit') Add Album

  //- if(!(i % 3))
         if (i !=0)
          | </div>
        | <div class='row'>
         p albums.name
        else
         p albums.name
      i = i +1
      if (arr.length > 0)
        | </div>

//- 
  looping solution from here:
  https://github.com/pugjs/pug/issues/910#issuecomment-14482795
